*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 60px;
}

nav{
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #FF6900;
    padding-inline: 300px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo{
    height: 30px;
}

.genere{
    display: flex;
    list-style-type: none;
}

.genere li{
    margin-left: 10px;
    font-weight: 600;
}

.icone i{
    margin-right:10px;
}

/* cards */

.all-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.card img{
    height: 500px;
    position: fixed;
}

.heart{
    background-color: white;
    position:relative;
    left: 321px;
    top: 10px;
    font-size: 25px;
    padding-inline: 5px;
}

.red{
    background-color: red;
    color: white;
    padding: 3px;
    position: relative;
    top: 400px;
    right:27px;
}

.green{
    background-color: green;
    color: white;
    padding: 3px;
    position: relative;
    top: 400px;
    right:27px;
}

